/* styles.css */
body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #4caf50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100px;
}

h1 {
    color: #ff9800;
    font-size: 2em;
}

main {
    margin-top: 20px;
}

.ebooks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.ebook {
    background-color: #fff;
    border: 2px solid #ff9800;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 45%;
    max-width: 300px;
    height: 400px;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.back-button {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff9800;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.back-button:hover {
    background-color: #e68900;
}
